// Remove original line
td[style="border-bottom: solid 1px #0063a5"]
    border-bottom: none !important;

address
    background-image: url("https://wis.fit.vutbr.cz/images/fitnewz.png")
    background-repeat: no-repeat
    background-position: 4px 10px
    background-size: 70px
    filter: grayscale()
    padding: 10px 4px 10px 90px
    border-top: solid 1px #ccc
    line-height: 1.42em
    opacity: 0.6
