// Buttons
button, input[type="submit"], input[type="button"],
input[type="submit"].form_sd
    background: transparent !important
    color: var(--fit-primary)
    transition: 0.2s ease transform
    border: 1px solid var(--fit-primary)
    border-radius: form-border-radius
    padding: 5px 10px !important;
    margin: 2px
    height: min-form-height
    cursor: pointer

    &:hover, &:focus
        background: var(--fit-primary-hover) !important
        color: var(--nav-link)
        will-change(transform)

    &:active
        background: var(--fit-primary) !important
        color: var(--nav-link)
        transform: scale(0.94)

// Input field
input[type="text"], input[type="password"]
    border-radius: form-border-radius
    border: 1px solid var(--tab-optional)
    background: var(--tab-optional)
    transition: 0.2s ease background
    padding: 0 5px
    margin: 2px
    height: min-form-height
    color: var(--body-copy)

    &:hover
        will-change(background)

    &:focus, &:active
        outline: none
        background: transparent
        border-color: var(--tab-optional-active)

// Select
select
    background: var(--tab-optional) !important
    color: var(--body-copy)
    border: 1px solid var(--tab-optional)
    border-radius: form-border-radius
    padding: 5px 10px !important;
    margin: 2px
    height: min-form-height

// Checkbox
// Firefox apparently doesn't like children in checkboxes, so this is webkit-only
checkbox-left-offset = 9999px
@media screen and (-webkit-min-device-pixel-ratio:0)
    input[type="checkbox"]
        position: relative
        left: -(checkbox-left-offset);
        margin: -0.5em 4px 0
        vertical-align: middle

        &:first-of-type
            margin-left: 0

        &::after
            position: relative
            left: checkbox-left-offset
            content: ''
            display: block
            width: 1em
            height: @width
            border: 1px solid var(--fit-primary)
            border-radius: form-border-radius
            text-align: center
            line-height: @height
            background-size: 80%
            background-repeat: no-repeat
            background-position: center

        &:focus::after
        &:hover::after
            background-color: var(--tab-normal-hover)

        &:active::after
            background-color: var(--fit-primary-hover) !important

        &:checked::after
            color: white
            background-color: var(--fit-primary)
            background-image: inline-url("check_w.svg", "utf8")

// Disabled checkboxes
img[src="/images/checkbox.gif"]
img[src="/images/checkboxs.gif"]
    object-position: -9000px -9000px
    display: inline-block
    width: 1em
    height: @width
    border: 1px solid var(--form-inactive)
    background-color: var(--form-inactive-light)
    border-radius: form-border-radius
    text-align: center
    line-height: @height
    vertical-align: middle

img[src="/images/checkboxs.gif"]
    background-image: inline-url("check_w.svg", "utf8")
    background-size: 80%
    background-repeat: no-repeat
    background-position: center
    background-color: var(--form-inactive)
