.sbb
    padding: 0 20px

    li
        color: var(--body-copy) !important
        line-height: 1.9em
        list-style: none !important
        padding: 10px !important
        margin-bottom: 5px !important
        border-radius: 5px
        box-shadow: none
        transition: 0.2s ease transform
        overflow: hidden

        a.sbtn, a.sbtnr, a.sbtng, a.sbtno
            font-size: 16px
            font-weight: 500
            text-decoration: none
            margin: -10px -10px -40px
            padding: 10px 10px 40px
            background: transparent

        // Blue
        a.sbtn, a.sbtno
            color: var(--fit-primary) !important

        // Red
        a.sbtnr
            color: var(--col-red) !important

        // Green
        a.sbtng
            color: var(--col-green) !important

        div
            pointer-events: none

        div a
            pointer-events: initial

    li:hover
        will-change: transform;

        // Blue
        a.sbtn, a.sbtno
            background: var(--fit-light-a)

        // Red
        a.sbtnr
            background: var(--col-red-light)

        // Green
        a.sbtng
            background: var(--col-green-light)

    li:active
        transform: scale(0.99)
