// Top nav toolbar

body > table:first-child th
    height: nav-height
    padding: 0
    border: none !important

    a.stab, a.stabs
        background-color: var(--fit-primary)
        transition: 0.2s ease background-color
        text-transform: uppercase
        letter-spacing: .06em
        font-weight: 500
        font-size: 12px !important
        color: var(--nav-link) !important
        text-align: center
        vertical-align: middle
        line-height: nav-height

    a.stab:hover
        background-color: var(--fit-primary-hover) !important

    a.stab:active, a.stabs
        background-color: var(--nav-active) !important
        apple-vibrant()
        color: var(--nav-active-link) !important

// Remove old logo
img.FITlogo
    display: none

// Add logo
body > table:first-child td:nth-child(1) a
    background-image: url("http://www.fit.vutbr.cz/favicon.ico")
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    width: nav-height  // Square logo, so width == height
    height: nav-height
    display: block
    transition: 0.2s ease filter

    &:hover
        filter: brightness(1.1)

    &:active
        filter: brightness(1.2)

body > table:first-child td[valign=middle]
    background-color: var(--fit-primary)
    padding: 0 5px
