table.stbl
    border: none

    th, td
        border: none

    th a
        color: inherit

    // Header rows
    & tr[bgcolor="#ADD8E6"]
    & tr:first-child
        background: transparent !important
        th
            background: transparent
            padding: 10px 10px
            border-top: none
            border-left: none
            border-right: none
            border-bottom: 2px solid var(--fit-primary) !important
            color: inherit

    // Other rows
    //tr:not([bgcolor="#ADD8E6"]) th
    tr:not(:first-child) th
        background: inherit
        color: inherit
        border: none

    // Striped table rows
    & > tbody > tr:nth-child(odd), tr.odd
        row-styles(transparent, --tab-normal-hover, --tab-normal-active)

    & > tbody > tr:nth-child(even), tr.even
        row-styles(--tab-normal, --tab-normal-hover, --tab-normal-active)

    // Forum bottom row border hack
    td[style="border: solid 1px #808080"]
        border: none !important
        background: transparent !important
