// Bg transition
tr
    transition: 0.1s ease background

// Borders
table[bordercolor="#999"], table[bordercolor="#888"], table[style="border: 1px solid #999"],
table[border="1"][cellpadding="2"]
    border: none !important

    td, th
        border: none
        padding: 5px 10px

    tr[bgcolor="#ADD8E6"], tr[bgcolor="#D0DCE0"]
        th
            padding: 10px 10px
            border-bottom: 2px solid var(--fit-primary)

    tr:last-child
        th
            border-bottom: none

// Course list table width hack
p + table[cellpadding="4"][cellspacing="0"]
    width: 100%

// Course list table colors ----------------------------------------------------
// Remove headers
tr[bgcolor="#ADD8E6"]
    background: transparent

// Normal courses
tr[bgcolor="#ffdead"]
    row-styles(--tab-normal, --tab-normal-hover, --tab-normal-active)

// Optional courses
tr[bgcolor="#f7f7af"]
    row-styles(--tab-optional, --tab-optional-hover, --tab-optional-active)

// Course page table colors ----------------------------------------------------
// Remove headers
tr[bgcolor="#D0DCE0"]
    background: transparent

// Green rows
tr[bgcolor="#dfe7cf"]
    row-styles(--tab-normal, --tab-normal-hover, --tab-normal-active)

// Yellow rows
tr[bgcolor="#FFF8DC"]
    row-styles(transparent, --tab-normal-hover, --tab-normal-active)
