table[border="1"][bordercolor="#999999"][cellpadding="2"]:not([cellspacing="0"]):not(.stbl)
    position: relative
    table-layout: fixed
    width: 100%

    tr:first-child
        // BUG: chrome adds 1px
        th:nth-child(1)
            width: 45px

        th:nth-child(2)
            width: 40px

        th
            width: auto

    // Grid background hack
    tbody::after
        display: block
        content: 'This is very long sentence that should wrap at the end of the line'  // YES
        font-size: 1000000%
        color: transparent
        position: absolute
        left: 85px
        top: 0
        right: 0
        bottom: 0
        z-index: -1
        background-image: repeating-linear-gradient(90deg,
            rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3) 1px,
            transparent 1px, transparent calc(100%/14)
        )
        overflow: hidden

    // Rowheaders
    th[bgcolor="#ADD8E6"]
        background: var(--tab-normal)
        border-bottom: 1px solid var(--tab-normal-active)

    // Rows hover
    tr:not([align="center"]):hover
        background: var(--tab-optional)

    // Colors
    td[bgcolor="#99ff99"]   // Green
        background: var(--timetable-green)

    td[bgcolor="#ffffcc"]   // Yellow
        background: var(--timetable-yellow)

    td[bgcolor="#FFE4B5"]   // Orange
        background: var(--timetable-orange)

    td[bgcolor="#ccffff"]   // Blue
        background: var(--timetable-blue)

    // Course box
    td[bgcolor]
        // Subtle gradient to prevent blending in of succeeding courses
        // TODO: not 100% happy with this, but it's the best I've got for now
        background-image: linear-gradient(
            300deg,
            var(--timetable-gradient-start) 70%,
            var(--timetable-gradient-end)
        );

        position: relative
        transition: box-shadow 0.2s

        &:hover
            z-index: 100
            box-shadow: 0px 5px 15px var(--timetable-shadow)
