.dark
    // Main colors
    --body-copy: #c5c8c6
    --body-bg: #1d1f21

    // Primary colors
    --fit-primary: #1565C0
    --fit-primary-hover: #008eed
    --fit-light: #373b41
    --fit-light-a: alpha(@--fit-primary, 0.2)

    // Secondary colors
    --col-green: #388E3C
    --col-red: #E53935
    --col-green-light: alpha(@--col-green, 0.2)
    --col-red-light: alpha(@--col-red, 0.2)

    // Nav colors
    --nav-active: rgba(29, 31, 33, 0.7)
    --nav-link: #ffffff
    --nav-active-link: #ffffff

    // Table colors
    --tab-normal: #24405b
    --tab-normal-hover: lighten(@--tab-normal, 10%)
    --tab-normal-active: lighten(@--tab-normal, 20%)
    --tab-optional: #373b41
    --tab-optional-hover: lighten(@--tab-optional, 10%)
    --tab-optional-active: lighten(@--tab-optional, 20%)

    // Links
    --link-unvisited: #98bfe0
    --link-hover: lighten(@--link-unvisited, 10%)
    --link-active: darken(@--link-unvisited, 10%)
    --link-visited: @--link-unvisited

    // Timetable colors
    --timetable-green: #1a3a33
    --timetable-yellow: #34362f
    --timetable-orange: #504739
    --timetable-blue: #24405b
    --timetable-gradient-start: rgba(255, 255, 255, 0)
    --timetable-gradient-end: alpha(@--timetable-gradient-start, 0.05)
    --timetable-shadow: rgba(0, 0, 0, 0.6)

    // Form colors
    --form-inactive: #555
    --form-inactive-light: #333
