:root
    // Main colors
    --body-copy: #212121
    --body-bg: #ffffff

    // Primary colors
    --fit-primary: #1565C0
    --fit-primary-hover: #008eed
    --fit-light: #E3F2FD
    --fit-light-a: @--fit-light

    // Secondary colors
    --col-green: #388E3C
    --col-red: #E53935
    --col-green-light: alpha(@--col-green, 0.2)
    --col-red-light: alpha(@--col-red, 0.2)

    // Nav colors
    --nav-active: rgba(255, 255, 255, 0.7)
    --nav-link: #ffffff
    --nav-active-link: @--fit-primary

    // Table colors
    --tab-normal: #E3F2FD
    --tab-normal-hover: #BBDEFB
    --tab-normal-active: #90CAF9
    --tab-optional: #ECEFF1
    --tab-optional-hover: #CFD8DC
    --tab-optional-active: #B0BEC5

    // Links
    --link-unvisited: #003365
    --link-hover: lighten(@--link-unvisited, 10%)
    --link-active: darken(@--link-unvisited, 10%)
    --link-visited: @--link-unvisited

    // Timetable colors
    --timetable-green: #daffdc
    --timetable-yellow: #ffffcc
    --timetable-orange: #ffe4b5
    --timetable-blue: #def3ff
    --timetable-gradient-start: rgba(0, 0, 0, 0)
    --timetable-gradient-end: alpha(@--timetable-gradient-start, 0.05)
    --timetable-shadow: rgba(0, 0, 0, 0.2)

    // Form colors
    --form-inactive: #999
    --form-inactive-light: #eee
