body
    // Reasonable margins
    margin: site-margin-top site-margin-side site-margin-bottom

    // Fix new menu
    & > table:first-child
        position: fixed
        z-index: 1000
        height: nav-height
        margin: (-(nav-height)) (-(site-margin-side)) (site-margin-bottom)
        background-color: transparent !important

        // Add blank space behind the menu
        &::after
            display: block
            height: nav-height
