// Reset weird defaults here

body
    background: var(--body-bg)

table
    background: transparent

// Reset weird nav positioning
.stab, .stabs
    height: 100% !important
    padding-top: 0 !important

// Reset new menu buttons
a.sbtn, a.sbtnr, a.sbtng, a.sbtno
    border-radius: 0 !important
    height: auto
    width: auto
    background: transparent

// Reset dataview colors
.dataquery, .dataviewh, .dataview0, .dataview1
    color: inherit !important

input[type="submit"].form_sd
    font-size: inherit
