*
    font-family: -apple-system, 'Roboto', sans-serif !important

body, td, th, iframe, .text
    color: var(--body-copy);

h1
    font-weight: 500 !important
    font-size: 22px

// Code listings
body > pre
#core, #core font
    font-family: 'Roboto Mono', monospace !important
    font-size: 13px

// Links

a
    &:link
        color: var(--link-unvisited)

    &:hover
        color: var(--link-hover)

    &:active
        color: var(--link-active)

    &:visited
        color: var(--link-visited)
