// Apply a blurred translucent background
// (Safari only)
apple-vibrant()
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

// Convert string to variable if begins with --
tovar(name)
    if type(name) == "ident" && substr(name, 0, 2) == "--"
        var(name)
    else
        name

// Generate table styles
row-styles(normal, hover, active)
    background: tovar(normal)
    &:hover
        background: tovar(hover)
    &:active
        background: tovar(active)
